body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(129, 129, 129, 0.1);
    margin: 0;
}
.nav-header{
    padding: 10px;
    background-color: yellow;
    height: 100px;
    font-size: 13px;
    font-weight: 400;
}
.cont-sup{
    height: 50%;
    max-width: 1200px;
    padding: 0 0 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.logo{
    height: auto;
    width: 12vw;
    margin-right: 20px;
}
.cont-src{
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;
    width:  40vw;
    padding: 7px 60px 9px 15px;
    border-radius: 2px;
    border: none;
    background-color: #fff;
    color: rgba(0,0,0,.1);
    display: flex;
    font-size: 15px;
    font-weight: 300;
}
.button-s{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    height: 39px;
    width: 39px;
    min-width: 39px;
    border-radius: 2px;
    border-style: hidden;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
}
.loup{
    height: 100%;
    width: 100%;
}
.frase{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coin{
    height: 20px;
    width: 20px;
}
a{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}
.cont-inf{
    height: 50%;
    max-width: 1200px;
    padding: 0 0 0 100px;
    display: flex;
}
.cont-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left a{
    margin: 10px;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.nav-right a img {
    height: 15px;
    width: 15px;
}
.main-content{
    padding: 20px;
}
.cont-tit p{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 20;
    padding-bottom: 0;
}
.contain-objects{
    height: auto;
    max-width: 1440px;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    padding: 50px;
    padding-top: 25px;
}
.container{
padding: 10px;
background-color: white;
position: relative;
}
.car-obj{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    right: 5%;
    top: 70%;  
}
.car-obj img{
    height: auto;
    width: 3vw;
}
.object img{
    max-width: 20vw;
    max-height: 20vw;
    /* border-bottom: solid 1px rgba(122, 122, 122, 0.3); */
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}
.prices{
    font-size: 16px;
    font-weight: 300;
    display: flex;
}
.prices p{
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 30px;
}
.off{
    color: rgb(149, 221, 41);
}
.container-footers{
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container-footer{
    text-align: center;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.container-footer img {
    height: auto;
    width: 4vw;
}
.container-footer p{
    color: rgb(70, 70, 70,.8);
    font-size: 2vw;
    font-weight: 300;
    margin: 10px;
}
.container-footer span{
    font-size: 1vw;
    font-weight: 100;
}
footer p{
    color: rgb(70, 70, 70,.8);
    font-size: 1vw;
    font-weight: 300;
    margin: 10px;
    text-align: center;
}